.container {
  width: 90vw;
  margin: auto;
  text-align: center;
  padding: 0.2rem;
}

.todos-container {
  text-align: left;
  background-color: #204ec0;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

.title-wrapper {
  background-color: #204ec0;
  border-radius: 0.2rem;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}

.title {
  color: #efefef;
  font-family: 'Ubuntu Condensed';
  line-height: 3.4rem;
  font-size: 1.8rem;
}

.todos-item {
  background-color: #efefef;
  padding: 0.2rem;
  display: block;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
}

.todos-item span {
  line-height: 1.5rem;
  font-size: 1.5rem;
  vertical-align: middle;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-weight: 400;
  margin-left: 0.2rem;
}

.form-label {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5rem;
  display: block;
  margin-bottom: 0.4rem;
  color: #efefef;
}

.button {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.4rem;
  display: inline-block;
  border: 2px #efefef solid;
  color: #efefef;
  border-radius: 0.2rem;
  padding: 0.2rem;
  width: 3rem;
  margin-left: 0.4rem;
  cursor: pointer;
}

.button:hover {
  filter: brightness(0.88);
}

.input-box {
  border-radius: 0.2rem;
  background-color: #efefef;
  border: 2px #efefef solid;
  padding: 0.4rem;
}

.flex-container {
  display: flex;
}
